// font faces
$body-font = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$logo-font = 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$code-font = 'Roboto Mono', Monaco, courier, monospace

// font sizes
$body-font-size = 15px
$code-font-size = .8em

// colors
// $dark   = #2c3e50
// $medium = #34495e
// $light  = #7f8c8d
// $green  = #42b983
// $border = #dddddd
// $codebg = #f8f8f8
// $red = #ff6666
$dark   = #073642
$medium = #586e75
$light  = #93a1a1
$green  = #268bd2
$blue   = #268bd2
$border = #dddddd
$codebg = #f8f8f8
$red    = #dc322f

// .color-base03   { color:  #002b36 !important; }
// .color-base02   { color:  #073642 !important; }
// .color-base01   { color:  #586e75 !important; }
// .color-base00   { color:  #657b83 !important; }
// .color-base0    { color:  #839496 !important; }
// .color-base1    { color:  #93a1a1 !important; }
// .color-base2    { color:  #eee8d5 !important; }
// .color-base3    { color:  #fdf6e3 !important; }
// .color-yellow   { color:  #b58900 !important; }
// .color-orange   { color:  #cb4b16 !important; }
// .color-red      { color:  #dc322f !important; }
// .color-magenta  { color:  #d33682 !important; }
// .color-violet   { color:  #6c71c4 !important; }
// .color-blue     { color:  #268bd2 !important; }
// .color-cyan     { color:  #2aa198 !important; }
// .color-green    { color:  #859900 !important; }

$radius = 2px
$content-padding-top = 30px
$header-inner-height = 41px
$heading-padding-vertical = 10px
$header-height = $header-inner-height + $heading-padding-vertical * 2
$mobile-header-height = 40px
$heading-link-padding-top = $header-height + $content-padding-top
$mobile-heading-link-padding-top = $mobile-header-height + $content-padding-top
$h2-margin-top = 45px
$h3-margin-top = 52px
