<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="https://res.cloudinary.com/jframe/image/upload/v1483150140/jframe-logo-square-color.png">
    </div><div class="right">
      <h2 class="vue">jframe</h2>
      <h1>
        Web components<br>at your service
      </h1>
      <p>
        <a class="button" href="#">GUIDE COMING SOON</a>
        <!-- <a class="button" href="/v1/guide/">GET STARTED</a> -->
        <!-- <a class="button white" href="https://github.com/vuejs/vue" target="_blank">GITHUB</a> -->
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Simple</h2>
      <p>Components are easy to add, customize, and manage. Now you don't have to edit your code for every. single. change.</p>
    </div>

    <div class="point">
      <h2>Works Anywhere</h2>
      <p>Works with any web technology or platform and on all modern devices. Embed components anywhere on your site and they just work.</p>
    </div>

    <div class="point">
      <h2>Fast</h2>
      <p>Components are delivered by our network of snappy servers, with a single API call no matter how many components are on the page.</p>
    </div>
  </div>
  <div style="min-height: 150px; width: 100%;">

  </div>
</div>


<div id="footer">
  Copyright &copy; 2016-<%- new Date().getFullYear() %> jframe
</div>

<script>
  var topScrolled = false
  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
  })
</script>
