<div id="header">
  <a id="logo" href="/">
    <img src="https://res.cloudinary.com/jframe/image/upload/v1483151862/jframe-rect-64h-greenblue.png">
    <!-- <span>jframe</span> -->
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
