<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="https://res.cloudinary.com/component/image/upload/v1487206339/c_square_700.png">
    </div><div class="right">
      <h2 class="vue">Component IO</h2>
      <h1>
        Simplify Web Development
      </h1>
      <p>
        <a class="button" href="/v1/introduction/">GET STARTED</a>
        <a class="button white" href="/v1/api/">API</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Simple</h2>
      <p>Components are easy to add, customize, and manage. Now you don't have to edit your code for every. single. change.</p>
    </div>

    <div class="point">
      <h2>Works Anywhere</h2>
      <p>Works with any web technology or platform and on all modern devices. Embed components anywhere on your site and they just work.</p>
    </div>

    <div class="point">
      <h2>Fast</h2>
      <p>Components are delivered by our network of snappy servers, with a single API call no matter how many components are on the page.</p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h3>Proudly built with</h3>
    <%- partial('partials/sponsors') %>
    <br>
    <a class="become-sponsor button white" href="https://vuejs.org/support-vuejs/">Support Vue.js</a>
  </div>
</div>


<div id="footer">
  Copyright &copy; <%- new Date().getFullYear() %> Component IO
</div>

<script>
  var topScrolled = false
  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
  })
</script>
