<div id="header">
  <a id="logo" href="/">
    <img src="https://res.cloudinary.com/component/image/upload/v1487206339/component_io_64h.png">
    <!-- <span>Component IO</span> -->
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
