<div id="header" style="height: 60px !important">
  <a id="logo" href="https://anymod.com">
    <img src="https://res.cloudinary.com/component/image/upload/w_35/v1510868601/a_logo_120x120.png" alt="A">
    <img src="https://res.cloudinary.com/component/image/upload/v1509664744/anymod_gray_130x28.png" alt="Anymod" style="padding-top:4px">
  </a>
  <%- partial('partials/main_menu', { context: 'header' }) %>
</div>

<script>
  // Change logo link
  (function () {
    var isSignedIn = (document.cookie && document.cookie.indexOf('cio.signin=') > -1)
    ,   isLocal = window.location.href.indexOf('localhost') > -1
    ,   logoLink = document.getElementById('logo')
    if (isLocal && isSignedIn) { logoLink.href = 'http://localhost:3000/ui' }
    if (isLocal && !isSignedIn) { logoLink.href = 'http://localhost:3000' }
  })()
</script>
