<div id="header" style="height: 72px !important">
  <a id="logo" href="https://component.io">
    <img src="https://res.cloudinary.com/component/image/upload/v1487206339/component_io_64h.png">
  </a>
  <%- partial('partials/main_menu', { context: 'header' }) %>
</div>

<script>
  // Change logo link
  (function () {
    var isSignedIn = (document.cookie && document.cookie.indexOf('cio.signin=') > -1)
    ,   isLocal = window.location.href.indexOf('localhost') > -1
    ,   logoLink = document.getElementById('logo')
    if (isLocal && isSignedIn) { logoLink.href = 'http://localhost:3000' }
    if (isLocal && !isSignedIn) { logoLink.href = 'http://localhost:3000' }
  })()
</script>
